/*-- scss:defaults --*/

.quarto-title-banner {
  padding-top: 8em;
  padding-bottom: 8em;
}

.quarto-title > h1.title {
  opacity: 0 !important;
}

.Home.quarto-title-banner {
  background-size: cover;
}

body {
    font-family: 'Your Chosen Font', sans-serif;
    /* Other font-related properties (e.g., font-size, font-weight) can be added here */
}

h1, h2, h3 {
    font-family: 'Tiffany', sans-serif;
}

p {
    font-family: 'Another Font for Paragraphs', sans-serif;
}