/*-- scss:defaults --*/

.quarto-title-banner {
  padding-top: 9em;
  padding-bottom: 9em;
}

body {
    font-family: 'Your Chosen Font', sans-serif;
    /* Other font-related properties (e.g., font-size, font-weight) can be added here */
}

h1, h2, h3 {
    font-family: 'Tiffany', sans-serif;
}

p {
    font-family: 'Another Font for Paragraphs', sans-serif;
}